<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <bean id="driverConfig" class="config.beans.WebDriverConfigurationBean">
        <property name="binaryLocation" value="C:\Program Files (x86)\Mozilla Firefox_ESR\firefox.exe"/>
        <property name="downloadFolderList" value="2"/>
        <property name="neverAskSaveToDisk" value="application/pdf, application/zip, application/txt, application/xml"/>
        <property name="implicitWait" value="20"/>
        <property name="showDownloadManagerOnStart" value="false"/>
    </bean>

    <bean id="anyConfigurator" name="configurator" class="core.configurators.FirefoxConfigurator" />

</beans>

